<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pad.stand.com.haidiyun.www">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Since using API 8 for development, just in case -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <permission android:name="android.intent.action.TIME_SET" />

    <!--    <uses-permission android:name="android.permission.INSTALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- 修改系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk android:minSdkVersion="13" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="pad.stand.com.haidiyun.www.base.BaseApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ThemeActivity">

        <!--以上是新界面整理处，勿混乱-->

        <activity
            android:name="pad.stand.com.haidiyun.www.ui.LanuchActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="pad.stand.com.haidiyun.www.ui.CardValActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/cardactivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/hdy" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="pad.stand.com.haidiyun.www.ui.ShowImages"
            android:theme="@style/Theme"></activity>
        <activity
            android:name="pad.stand.com.haidiyun.www.ui.PriceActivity"
            android:theme="@style/Theme"></activity>
        <activity
            android:name="pad.stand.com.haidiyun.www.ui.MainFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="pad.haidiyun.advert_start" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- this is golbe service -->
        <service android:name="pad.stand.com.haidiyun.www.service.FloatService">
            <intent-filter>
                <action android:name="pad.stand.com.haidiyun.www.float" />
            </intent-filter>
        </service>
        <service android:name="pad.stand.com.haidiyun.www.service.B_Service">
            <intent-filter>
                <action android:name="com.hdy.upload.aidl" />
            </intent-filter>
        </service>
        <service android:name="pad.stand.com.haidiyun.www.service.NohandlerSevice"></service>

        <!--receiver android:name="pad.stand.com.haidiyun.www.service.NoHandlerTask">
            <intent-filter>
                <action android:name="org.wifi.reset" />
                <action android:name="pad.tuch.screen" />
                <action android:name="pad.tuch.screen.pause" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="pad.haidiyun.command" />
            </intent-filter>
        </receiver -->
        <!-- 百度 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sWOwyhBEQ7YrEB0lrGxbOzGldDAwpqsb" />



        <activity
            android:name="pad.com.haidiyun.www.ui.CardValActivity"
            android:screenOrientation="landscape"
            android:theme="@style/toast_pop_style">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/hdy" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>


        <service android:name="pad.com.haidiyun.www.service.FloatService">
            <intent-filter>
                <action android:name="pad.com.haidiyun.www.float" />
            </intent-filter>
        </service>
    </application>
</manifest>
